.container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.button {
  width: 140px;
  height: 30px;
  padding: 5px;
  margin-right: 1px;
  margin-bottom: -6px;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  border: 1px solid rgb(255, 255, 250, 0.5);
  font-weight: 800;
  cursor: pointer;
}

.active {
  width: 80px;
  height: 30px;
  padding: 5px;
  margin-right: 1px;
  margin-bottom: -6px;
  background-color: rgb(0, 0, 0, 0.7);
  color: blueviolet;
  border: 1px solid rgb(255, 255, 250, 0.5);
  font-weight: 800;
  cursor: pointer;
}
.button:hover {
  color: blueviolet;
}
.active:hover {
  color: blueviolet;
}

@media (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: 1fr 1fr;
    background-color: rgb(128, 128, 128, 0);
    height: 65px;
    margin-top: 15px;
    align-items: normal;
    width: 80%;
  }
}
