.container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 margin-top: 20px;
 height: 100px;
 gap: 10px;
}

.button {
  color: #090909;
  font-weight: bold;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 1px 1px 2px #c5c5c5,
              -1px -1px 2px #ffffff;
 }
 
 .button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
 }

 .button:hover{
  background-color: crimson;
  color: #fff;
 }

 .selectedButton {
  color: crimson;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
}



@media (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: 1fr 1fr;
    background-color: rgb(128, 128, 128, 0);
    height: 65px;
    margin-top: 15px;
    align-items: normal;
    width: 80%;
  }
}
