.container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 32px;
  padding: 20px;
  width: 69%;
  margin: 0 auto;
}

.button {
     background-color: transparent;
     color: #fff;
     float: left;
     padding: 10px 18px;
     text-decoration: none;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,     rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,      rgba(238, 235, 235, 0.05) 0px 0px 0px 1px inset;
     border: 0.8px solid #5d0b0b;
     border-radius: 10px;
}

.container .button:hover {
  background-color: crimson;
  color: #fff;
  font-weight: 800;
}

.container .button:focus{
  background-color: crimson;
  color: #fff;
  font-weight: 800;
} 

.active {
  width: 80px;
  height: 30px;
  padding: 5px;
  margin-right: 1px;
  margin-bottom: -6px;
  background-color: rgb(0, 0, 0, 0.7);
  color: blueviolet;
  border: 1px solid rgb(255, 255, 250, 0.5);
  font-weight: 800;
  cursor: pointer;
}

.active{
  color: #fff;
  background-color: #5d0b0b;
    float: left;
    padding: 10px 18px;
    text-decoration: none;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 12px 28px 0px,
     rgba(255, 255, 255, 0.1) 0px 2px 4px 0px, 
     rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
     border: 0.8px solid #5d0b0b;
}

@media (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: 1fr 1fr;
    background-color: rgb(128, 128, 128, 0);
    height: 65px;
    margin-top: 15px;
    align-items: normal;
    width: 80%;
  }
}
