body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
  height: 10vh; 

}

.h1About {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.h2About {
  font-size: 50px;
  margin-bottom: 5px;
}

.h3About {
  font-size: 20px;
  margin-bottom: 5px;
}

.pAbout {
  line-height: 1.5;
  color: white;
  margin-left: 170px;
  
}

.img-gridAbout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.img-itemAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imgDimensionAbout {
  width: 10em;
  height: 10em;
  border-radius: 10px; 
  border: 2px solid #000;
}
.imgenBanderaAbout{
  display: inline-block;
  width: 50px; /* Ancho deseado */
  height: auto;
  padding: 5px;
}

.imgAbout {
  width: 200px;
  height: auto;
  margin-top: 10px;
}
.logoAbout{
  display: inline-block;
  width: 200px; /* Ancho deseado */
  height: auto;
  padding: 1px;
  float: left;
}

/* Estilos específicos para el contenido del proyecto de cine */
.containerAbout {
  background-image: url('https://img.freepik.com/vector-gratis/fondo-azul-numeros-binarios_1055-1918.jpg');
  background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-position: center; /* Centra la imagen de fondo */
  width: 100vw; /* Ancho del 100% de la ventana del navegador */
  height: 150vh; /* Alto del 100% de la ventana del navegador */
  margin: 0;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(206, 14, 14, 0.1);
}

.project-infoAbout {
  margin-bottom: 20px;
  font-size: 18px;
}

.project-info h1 {
  color: #333;
}

.project-info h2About {
  color: #555;
}

.project-info pAbout {
  color: #777;
}
.logo{
  width: 150px;
  height: 150px;
  float: left;
  margin-left: 50px;
}

.social-icons img {
  display: inline-block;
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: 40px;
  margin-right: 10px; /* Añade un margen entre los logos */
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.2); /* Cambia el valor según el nivel de zoom deseado */
}
