.body {
  margin-top: 10px;
  padding-bottom: 100px;
}

.title {
  color: white;
  padding-bottom: 20px;
}

.img {
  width: 60%;
  height: 500px;
  opacity: 1;
}

.controls {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(8, 15, 40, 1));

  margin-left: -190px;
  height: 550px;
  width: 100%;
  margin-bottom: -25px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 230px;
  margin-left: 260px;
  margin-top: 230px;
  text-align: start;
}
.text h3 {
  margin-bottom: 15px;
  font-size: 40px;
  color: white;
}
.text p {
  color: #8da0bc;
}
.button {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 10px;
}
