.body {
  width: 250px;
  height: 400px;
  margin: 0 auto;
}

.cardBody {
  display: flex;
  flex-direction: column;
  height: 240px;
  background-color: rgb(0, 0, 0, 0.1);
  background-color: rebeccapurple;
  border-radius: 0 0 10px 10px;
  
}

.text {
  color: white;
}

.text span {
  color: white;
  
}

.button {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}


