.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 490px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
  margin: 0 auto;

}
 
 .card_img {
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
  margin-bottom: 30px;
}
 
 .card_info {
  padding-top: 10%;
  margin-top: 15%;
  border-bottom: 1px solid #9f9d9dd1;
 }
 
 .card_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-top: 20px;
 }

 
 
 /*Text*/
 .text_title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
 }
 
 .text_body {
  font-size: .9em;
  padding-bottom: 10px;
 }
 
 
.alert{
  margin-top: 15px;
}


 /*Hover*/
 .card_img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(242, 239, 238, 0.73) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card_button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }
 