.home {
  margin-right: 200px;
    padding: 15px;
  }
  
  
  .h2 {
    color: #153f59;
    font-size: 100px;
    margin-bottom: 10px;
    margin-left: 200px;
  }
  
  .p {
    margin-left: 200px;
    color: #070708;
    font-size: 50px;
    margin-bottom: 100px;
  }
  
 .ol {
  list-style-type: none;
  }
  
 .li {
  margin-left: 300px;
  color: #000a23;
  font-size: x-large;
    margin-right: 200px;
    margin-bottom: 10px;
    text-align: left;
  }

  .li:before {
    content: none;
  }
  