.home-admin-container {
    padding: 15px;
  }
  
  .home-admin-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .home-admin-container p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .home-admin-container ol {
    font-size: 16px;
    margin-left: 20px;
  }
  
  .home-admin-container li {
    margin-bottom: 10px;
  }
  