.list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .list-item img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .list-item-details {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .list-item-details p {
    margin: 0;
  }
  
  .list-item-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f8f9fa;
    color: #000;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .boton:hover {
    background-color: #000;
    color: #fff;
  }
  
  .titulo2 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
   
  }