.bodyHome {
  padding-top: 20px;
  background-color: #080f28;
}

.body {
  padding-top: 60px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 50px;
}
