.bodyHome {
  padding-top: 20px;
  background-color: rgb(8, 15, 40);
}

.body {
  display: flex;
  flex-wrap: wrap;
  padding: 55px;
  gap: 50px;
  margin: 0 auto;
  max-width: 2000px;
}

.title {
  color: white;
  margin-bottom: 40px;
  margin-left: 10px;
  width: fit-content;
}
