@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

.body {
    background-color: #7498b6;
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 15px;
}

.container{
    display: flex;
    flex-direction: row;
}

.orderCard{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin: 5px 0;
    width: 40vh;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
  }
  .orders {
    box-sizing: border-box;
    width: 290px;
    height: 154px;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .orders:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .orders:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }