.nav{
    display: flex;
    padding: 1rem;
    background-color: #0f0b0b;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.user{
    color: #fff;
}

.containerLogo{
    display: flex;
    align-items: center;
}

.contentLink{
    display: flex;
    gap: 15px;
    align-items: center;
}

.link{
    color: #ede9ea;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.link:hover{
    color: crimson;
}

.link:focus{
    color: crimson;
}


.logo{
    width: 600px;
    height: 60px;
}