.nav {
  display: flex;
  background-color: #0f0b0b;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.user {
  color: #fff;
  margin: 0 auto;
}

.containerLogo {
  display: flex;
  align-items: center;
}

.contentLink {
  display: flex;
  gap: 15px;
  align-items: center;
}

.link {
  color: #ede9ea;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: crimson;
}

.logo {
 width: 269px;
 height: 65px;
}


.logout {
  margin-right: 0.5rem;
}


/* Responsive */

@media (max-width: 970px) {
  .logo {
  width: 169px;
  height: 35px;
 }
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }
  .iconText {
    display: none;
  }
}




 