.nav{
    display: flex;
    padding: 1rem;
    background-color: #0b0707;
    justify-content: flex-end;
    gap: 10px;
}


.link{
    color: #ede9ea;
    font-weight: 600;
    text-transform: uppercase;
    
}