.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    color: #fff;
    font-size: 18px;
}

.title{
    color: #fff;
    text-transform: uppercase;
}

.containerBnt{
display: flex;
justify-content: center;
gap: 5px;
}

.btn{
    width: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
}

.btn:focus{
    background-color: crimson;
    color: #fff;
}

.btn:hover{
    background-color: crimson;
    color: #fff;
}
