.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 10px;
flex-direction: column;
}
 

.title{
    color: #fff;
    margin-bottom: 20px;
}

.containerResult{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}