.body {
    
    
    background-color: #7498b6;
    height: 100vh;
    width: 100%;
    overflow: auto;
}
.container{
    display: flex;
    flex-direction: row;
}

.orderCard{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin: 5px 0;
    width: 50vh;
    text-align: left;
  }
  .orders{
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .cartasDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    }

    .letras{
      margin: 10px;
      font-size: large;
    }